<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

    <title>Sentiment-Analysis</title>

    <script>

      //Input check Function
      function manage_button(value){

        var bt = document.getElementById('ld1');
        var txt = document.getElementById('myText');
        var file = document.getElementById('myFile');
        var ele = document.getElementsByTagName('input'); 

        if(txt.value.length >=2 || file.files.length!=0){
          bt.disabled = false;
        }
        else{
          bt.disabled = true;
        }
        

        }
      
      //Loader Function
      function move() {
        var elem1 = document.getElementById('myBar1')
        var elem2 = document.getElementById('myBar2')
        rate = 10
        var width = 0
        var id = setInterval(frame, 70)
        function frame() {
          if (width >= 100) {
            console.log(width)
            clearInterval(id)
            document.getElementById('myP1').className ='w3-text-green w3-animate-opacity'
            document.getElementById('myP2').className ='w3-text-green w3-animate-opacity'
            width = 0
            id = setInterval(frame, 70-rate)
            rate += 10
            document.getElementById('myBar1').style.backgroundColor = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);
            document.getElementById('myBar2').style.backgroundColor = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);

          } else {
            width++
            elem1.style.width = width + '%'
            elem2.style.width = width + '%'          
            document.getElementById('demo1').innerHTML = 'Analysing'
            document.getElementById('demo2').innerHTML = 'Analysing'
          }
        }
      }
    </script>
  </head>

  <body>
    <div class="container">
      <center>
        <h1
          class="mt-4 mb-2"
          style="
            color: crimson;
            font-weight: bold;
            text-shadow: 2px 2px 8px aliceblue;
          "
        >
          Analysis of Text and Tweets!
        </h1>
        <img src="../media/a.png" style="width: 600px; height: 250px;" alt="" />
      </center>

      <label
        class="my-3"
        for="exampleFormControlTextarea1"
        style="font-weight: bold; font-size: x-large; color: crimson;"
      >
        <p style="font-size: large; color: black;">
          The key aspect of this tool is to analyze body of text and predict the
          emotions expressed as positive, negative, or neutral.
        </p>
        <div style="font-size: large; color: black;">
          <div class="row">
            <div class="col-sm">
            <p>
            <h4 style="color: darkblue; font-weight: bold;">Features:-</h4>
            >> Polarity probability prediction.
            <br>
            >> Analysis through of graphical report.
            <br>
            >> Analysis of Twitter tweets.
            <br>
            >> Word Cloud generation. 
            <br>
            >> You can easily download report
            after analysis.
          </p>
        </div>
        <div class="col-sm">
            <img
        src="../media/img2.jpg"
        style="width: 360px; height: 220px;"
        alt=""
      />
    </div>

        </div>
        </div>
      </label>

      <!-- Tweet Button -->
    <div class="row">
      <div class="col-sm">
      <h3 style="color: darkblue; font-weight: bold;">Tweets Analysis</h3>
    </div>
    <div class="col-sm">
      <button
        type=" button"
        class="btn btn-primary my-2 mx-2"
        onclick="tweetFunction()"
        style="width: 210px; height: 37px;"
      >
        Tweets Sentiment Analysis
      </button>
    </div>
    </div>


    <!-- Text Button -->
    <div class="row">
      <div class="col-sm">
      <h3 style="color: green; font-weight: bold;">Text Analysis</h3>
    </div>
    <div class="col-sm">
      <button
      type="button"
      class="btn btn-success my-2 mx-2"
      onclick="textFunction()"
    >
      Text Sentiment Analysis
    </button>
    </div>
    </div>
 

      <div id="show">
        <div id="textDIV" style="display: none;">

          <!-- textanalysis -->
          <form
            method="POST"
            action="textanalysis/"
            onsubmit="move();this.disabled='true'"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <textarea
              class="form-control my-2 mx-2"
              name="input_data"
              rows="8"
              id = "myText"
              style="background-color: aliceblue;"
              placeholder="Enter your text"
              onkeyup="manage_button(this)"
            ></textarea>

            <input
              type="file"
              id="myFile"
              class="my-2 mx-2"
              name="filename"
              accept=".pdf,.txt,.docx,.odt,.csv,.json,.html"
              style="color: darkblue; font-weight: bold;"
              onchange="manage_button(this)"
            />
            <div id="myP1">
              <div class="w3-light-grey">
                <center>
                <div
                  id="myBar1"
                  class="w3-container"
                  style="height: 24px; width: 0%; background-color:green"
                ></div>
              </div>
              <span id="demo1" style="text-align: center;"></span>
            </center>
              <button type="submit" id="ld1" class="btn btn-danger my-2 mx-2" disabled>
                Done!
              </button>
            </div>
          </form>
        </div>


        <!-- tweetanalysis -->
        <div id="tweetDIV" style="display: none;">
          <form
            method="POST"
            action="tweetanalysis/"
            onsubmit="move();this.disabled='true'"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <input
              class="form-control my-2 mx-2"
              name="tweet"
              style="background-color: aliceblue;"
              placeholder="Enter Keyword/Tag to search about: "
              required
            />

            <input
              class="form-control my-2 mx-2"
              type="number"
              name="tweet_no"
              style="background-color: aliceblue;"
              placeholder="Enter how many tweets to search: "
              required
            />

            <div id="myP2">
              <div class="w3-light-grey">
                <center>
                <div
                  id="myBar2"
                  class="w3-container"
                  style="height: 24px; width: 0%; background-color:green"
                ></div>
              </center>
              </div>
              <span id="demo2"></span>
              <button type="submit" id="ld2" class="btn btn-danger my-2 mx-2">
                Done!
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      //Function to Display
      var tweet = document.getElementById('tweetDIV')
      var text = document.getElementById('textDIV')
      function tweetFunction() {
        if (tweet.style.display === 'none') {
          tweet.style.display = 'block'
          text.style.display = 'none'
        } else {
          tweet.style.display = 'none'
        }
      }

      function textFunction() {
        if (text.style.display === 'none') {
          tweet.style.display = 'none'
          text.style.display = 'block'
        } else {
          text.style.display = 'none'
        }
      }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
